<header data-scroll-section>
    <nav>
        <div data-scroll data-scroll-speed="-1" data-scroll-direction="horizontal">© Shabeel Akthar</div>
        <ul data-scroll data-scroll-speed="1" data-scroll-direction="horizontal">
            <li>
                <a href="#">Work</a>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <li>
                <a href="">Contact</a>
            </li>
        </ul>
    </nav>
    <img src="../../assets/images/bg.jpg" alt="bg image" class="background" data-scroll data-scroll-speed="-4">
    <img src="../../assets/images/fg.png" alt="fg image" class="foreground" data-scroll data-scroll-speed="-1.5">
    <h1 class="title" data-scroll data-scroll-speed="2">شبيل اكتر</h1>
</header>