<section data-scroll-section id="about">
    <div class="scroll-direction" data-scroll  data-scroll-speed="2">
        <h2>Passionate web developer. Specialized in creating cutting-edge digital solutions. Works defined by attention to detail, a commitment to excellence, and a drive to push boundaries.</h2>
    </div>

    <div class="cus-pad"></div>

    <div class="direction-block">
        <div class="cus-scroll direction-block-item one">
            <h1 data-scroll data-scroll-direction="horizontal" data-scroll-speed="9">Angular - JavaScript - HTML - CSS - BootStrap</h1>
        </div>
        <div class="cus-scroll direction-block-item two">
            <h1 data-scroll data-scroll-direction="horizontal" data-scroll-speed="9">figma - agile methodology - Responsive - Optimization </h1>
        </div>
        <div class="cus-scroll direction-block-item three">
            <h1 data-scroll data-scroll-direction="horizontal" data-scroll-speed="9">locomotive - neuromorphism - glassmorphism</h1>
        </div>
    </div>
</section>