<div data-scroll-container>
  <nav data-scroll-section>
    <div data-scroll data-scroll-speed="-1" data-scroll-direction="horizontal">© Shabeel Akthar</div>
    <ul data-scroll data-scroll-speed="1" data-scroll-direction="horizontal">
        <li>
            <a href="#works">Work</a>
        </li>
        <li>
            <a href="#about">About</a>
        </li>
        <li>
            <a href="#contact">Contact</a>
        </li>
    </ul>
</nav>
  <app-header></app-header>
  <app-skill></app-skill>
  <app-works></app-works>
  <app-contact></app-contact>
  <!-- <div #scrollContent>
    <router-outlet></router-outlet>
  </div> -->
</div>
