<section data-scroll-section id="works">
    <h1 class="scroll-direction" data-scroll  data-scroll-speed="0.5">
        Works
    </h1>
    <ul>
        <li>
            <a href="https://cabiolimo.com/" target="_blank">
                <h2 class="lerp">Cabiolimo</h2>
                <span>Limousin Services</span>
            </a>
        </li>
        <li>
            <a href="https://liberecc.com/" target="_blank">
                <h2 class="lerp">Liber</h2>
                <span>Construction Services</span>
            </a>
        </li>
        <li>
            <a href="https://www.jezooz.com/" target="_blank">
                <h2 class="lerp">Jezooz</h2>
                <span>Visa Services</span>
            </a>
        </li>
        <li>
            <a href="https://www.smartvalleytravels.com/" target="_blank">
                <h2 class="lerp">Smart Valley</h2>
                <span>Tours & Travels</span>
            </a>
        </li>
    </ul>
</section>
